<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cafeteria</title>
        <meta charset="UTF-8">
        <title>Cafeteria  </title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

    <header>
        <nav>
            <a th:href="@{/producto}">Producto</a>
            <a th:href="@{/inventario}">inventario</a>


        </nav>
    </header>

    <main>


        <h1> Formulario pára crear una venta </h1>

    <form class="formulario" action="#" th:action="@{/guardarVenta}" th:object="${ventaDto}" method="post">
        <label for="producto">Producto:</label>
        <select id="producto" name="idProducto">
            <option th:each="producto : ${productos}"
                    th:value="${producto.id}"
                    th:text="${producto.nombreProducto}"></option>
        </select>
        <br>
        <label for="cantidadVendida">Cantidad Vendida:</label>
        <input type="number" id="cantidadVendida" name="cantidad" min="1" required>
        <br>
        <input type="submit" name="guardarVenta" value="Agregar Venta">
    </form>



        <form class="formulario" action="#" th:action="@{/eliminarVenta}"  method="post">
            <h1> Formulario pára eliminar  una venta </h1>
            <br>
            <label for="idventa">Id venta  a eliminar :</label>
            <input type="number" id="idventa" name="idVenta" min="1" required>
            <br>
            <input class="btnDelete" type="submit" name="guardarVenta" value="Eliminar Venta">
        </form>


        <div th:if="${ventas != null and !ventas.empty}">
            <h1>  Listado de ventas realizadas </h1>
            <table border="1">
                <tr>
                    <th>Id venta </th>
                    <th>id producto</th>
                    <th>Nombre Producto</th>
                    <th>Referencia</th>
                    <th>Precio</th>
                    <th>Peso</th>
                    <th>Categoria</th>
                    <th>Cantidad Vendida </th>

                </tr>
                <tr th:each="venta : ${ventas}">
                    <td th:text="${venta.idVenta}">Mostrar Nombre</td>
                    <td th:text="${venta.producto.id}">Mostrar Nombre</td>
                    <td th:text="${venta.producto.NombreProducto}">Mostrar Nombre</td>
                    <td th:text="${venta.producto.Referencia}">Mostrar Nombre</td>
                    <td th:text="${venta.producto.Precio}">Mostrar Nombre</td>
                    <td th:text="${venta.producto.Peso}">Mostrar Nombre</td>
                    <td th:text="${venta.producto.Categoria}">Mostrar Nombre</td>
                    <td th:text="${venta.cantidadVendida}">Mostrar Nombre</td>

                </tr>
            </table>
        </div>
        <div th:if="${ventas == null or ventas.empty}">
            La lista de ventas está vacía
        </div>
    </main>
    </body>
</html>
