<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cafeteria</title>
        <meta charset="UTF-8">
        <title>Cafeteria  </title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

    <header>
        <nav>

        </nav>
    </header>

    <main>
        <h1> Cafeteria Kone </h1>

        <h2> Bienvenidos a la cafeteria Kone, </h2>
        <p> Con la cual podras realizar todo lo relacionado a las ventas y el control de inventario.  </p>

        <h2> Elige la transacción que deseas realizar </h2>

        <a th:href="@{/producto}">Producto</a>
        <a th:href="@{/venta}">Venta</a>
        <a th:href="@{/inventario}">Inventario</a>
        <a th:href="@{/}">Consultas personalizadas</a>


    </main>
    </body>
</html>
